
@font-face {
    font-family: subheaderFont;
    src: url(../fonts/fertigo.otf);
}
/*
h1.sub-header{
  font-family: subheaderFont;
  font-family: 'Poppins', sans-serif;
}
*/

.well{
background-color: #c1d82f
}

body{
  top: 0;
}


/*.row{
    margin-left:0px;
    margin-right:0px;
}*/



#bubble img:hover{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .4s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

#dashboard {
  margin-top: 2%;
  float: left;
  margin-left: 10%;
}

.container[role="main"]{
  margin-top: 70px;
}

.container[role="navbar_order"]{
  margin-top: 15px;
}

button#profileDropdown.btn.btn-default.dropdown-toggle{
  background-color: #222222;
  color: white;
  size: 2px;
  border-color: #222222;
  padding-top: 14px;
}

#footer{
  margin-top: 6%;
  margin-bottom: 2%;
}


