html,body {
  margin: 0px;
  left: 0px;
  top: 0px;
  right:0px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F05F40;
}

#content {
  left: 0;
}

.form-signin {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: white;
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}