 {% load staticfiles %}
 {% load widget_tweaks %}

 <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
  </head>
<!-- NAVBAR
================================================== -->
  <body>

  {% if form.errors %}
    <div class="alert alert-danger" role="alert">Your username and password didn't match. Please try again.</div>
  {% endif %}

  <div class="container">

	<form method="post" class="form-signin">{% csrf_token %}
       <h1 class="form-signin-heading">Login</h1> <br />
       <label for="id_username" class="sr-only">Username</label>
        <td>{{ form.username|add_class:"form-control"|attr:"placeholder:Username" }}</td>
        <label for="inputPassword" class="sr-only">Password</label>
        <td class="form-control">{{ form.password|add_class:"form-control"|attr:"placeholder:Password" }}</td>
       
       <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
       <input type="hidden" name="next" value="/home" />
     </form>
     </div>
      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!--script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
   
  </body>
</html>