 {% load staticfiles %}
 {% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Healthy</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/signin.css' %}">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/creative/creative.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   
</head>
   
<!-- NAVBAR
================================================== -->
  <body id="page-top">

  {% if form.errors %}
    <div class="alert alert-danger" role="alert">Your username and password didn't match. Please try again.</div>
  {% endif %}

  <div id="content" class="container-fluid">
    <div class="row">
      <aside class="bg-dark">
	       <form method="post" class="form-signin">{% csrf_token %}
            <h1 class="form-signin-heading">SIGN IN</h1> <br /> <hr >
            <label for="id_username" class="sr-only">Username</label>
            <td>{{ form.username|add_class:"form-control"|attr:"placeholder:Username" }}</td>
            <br >
            <label for="inputPassword" class="sr-only">Password</label>
            <td class="form-control">{{ form.password|add_class:"form-control"|attr:"placeholder:Password" }}</td>
            <hr >
            <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
            <input type="hidden" name="next" value="/home" />
          </form>
          <br ><br >
      </aside>
    </div>
  </div>

  
      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!--script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
   
  </body>
</html>