{% extends 'healthy/base.html' %}
{% load staticfiles %}

{% block extra_js%}
<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

 {% block content %}
  {% if user.is_authenticated %}

  	<div role="main" class="container">
   	
   		<br ><br ><br ><br ><br >

		 <form method="POST">{% csrf_token %}
			     {{ form.media }}
			    <div class="row">
		          	<div class="col-md-6">
						{{ labresultsform.as_table }}
			        </div>
			     </div>
			     <br /><br />
			     <button type="button" class="btn btn-default" onclick="location.href='{% url 'results' %}'">Close</button>
				 <button type="submit" class="btn btn-danger">Save changes</button>
		</form>

		<br ><br ><br ><br >

	</div>

	<hr><br />
  	<aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>ADD RESULTS</h2>
                <a href="#about" class="btn btn-default btn-xl sr-button page-scroll">Back to top</a>
            </div>
        </div>
    </aside>

{% endif %}
{% endblock %}