{% extends 'healthy/base.html' %}
{% load staticfiles %}

{% block extra_js%}
<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

 {% block content %}
  {% if user.is_authenticated %}
    <h1 class="sub-header">Add lab results<small> </h1>
    <br /><br />

 <form method="POST">{% csrf_token %}
	     {{ form.media }}
	    <div class="row">
	        <br /><br />
          	<div class="col-md-6">
				{{ labresultsform.as_p }}
	        </div>
	     </div>
	     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		 <button type="submit" class="btn btn-danger">Save changes</button>
</form>
{% endif %}
{% endblock %}