{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Healthy</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/charts.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}"> 

 
  <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="{% static 'js/moment.js' %}"></script>
  <script src="{% static 'js/tooltip.js' %}"></script>
   <script src="{% static 'js/charts.js' %}"></script>

  <!-- TODO: add js only when required --> 
  <script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script> 
  
</head>
<body>

  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div role="navbar_order" class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="padding-top: 12px" href="#"><span class="glyphicon glyphicon-heart"  aria-hidden="true"></span>   Healthy</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="current"> <a href="{% url 'charts' %}"> Charts</a></li>
          <li><a href="{% url 'results' %}">Lab results</a></li>
          <li><a href="#">About</a></li>
          <li>
            <div id="profile">
              <!-- Split button -->
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 {{ user.last_name }}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="/profile/">Profile</a></li>
                  <li><a href="/logout/">Logout</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->

  <div role="main" class="container">
  {% block content %}
  {% endblock %}  


  <!-- FOOTER -->
	</div>	

  <div id="footer" class="container">
   <hr class="featurette-divider">
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p class="pull-left"><small>Corina Dalaban / Bogdan Ariton / Eduard Erja</small> @ <strong>HACKATHON 2016</strong></a></p>
    </footer>
  </div>

	 
</body>
  <!-- Place this tag right after the last button or just before your close body tag. -->
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</html>