{% extends 'healthy/base.html' %}
{% load staticfiles %}




  {% block content %}
  {% if user.is_authenticated %}
    <h1 class="sub-header">Labs  <small> <span class="glyphicon glyphicon-user" ></span> {{ user.last_name }} {{ user.first_name }}  </small> </h1>
 
 <br />
  

    <br /> <br />
    <hr class="featurette-divider">
 		
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Reason</h3>
          </div>
          <div class="panel-body">
            {{ labdetail.reason }}
          </div>
        </div>

         <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Cause</h3>
          </div>
          <div class="panel-body">
            {{ labdetail.cause }}
          </div>
        </div>

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Actions</h3>
          </div>
          <div class="panel-body">
            {{ labdetail.action }}
          </div>
        </div>

 		

{% endif %}
{% endblock %}