{% extends 'healthy/base.html' %}
{% load staticfiles %}

{% block extra_js%}
<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

  {% block content %}
  {% if user.is_authenticated %}
    <h1 class="sub-header">Lab Results <small>{{ user.username }} </small> </h1>
 
 <br />
  
<div class="btn-group" role="group" aria-label="...">
        <a href="{% url 'addLab' %}" type="button" class="btn btn-danger">Add</a>
        <button type="button" id="edit" class="btn btn-default disabled">Edit</button>
    </div>
    <br /> <br />
    <hr class="featurette-divider">
 			
 		
<div class="table-responsive">
        <table class="table  table-striped">
            <thead>
                <tr>
    
                    <th>Lab</th>
                    <th>Date</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
             {% for result in results %}
            <tr>
                    <td>{{ result.pk }}</td>
                    <td>{{ result.date }}</td>
                    <td></td>
            </tr>
            {% endfor %}
 			</tbody>
        </table>         
    </div>



{% endif %}
{% endblock %}