{% extends 'healthy/base.html' %}
{% load staticfiles %}
{% block extra_js%} <script src="http://malsup.github.com/jquery.form.js"></script> {% endblock %} 



  {% block content %}
  {% if user.is_authenticated %}
    <h1 class="sub-header">Lab Results <small>{{ user.username }} </small> </h1>
 
 <br />
  
<div class="btn-group" role="group" aria-label="...">
        <a type="button" href="{% url 'addLab' %}" class="btn btn-danger actionAdd">Add</a>
    </div>
    <br /> <br />
    <hr class="featurette-divider">
 			
 		
<div class="table-responsive">
        <table class="table  table-striped">
            <thead>
                <tr>
    
                    <th>Lab</th>
                    <th>Date</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
             {% for result in results %}
            <tr>
                    <td>{{ result.pk }}</td>
                    <td>{{ result.date }}</td>
                    <td> 
                        <button class="btn btn-primary actionViewResults" rel="tooltip" data-placement="top" title="Details" onclick="location.href='{% url 'results_detail' pk=result.pk %}'">
                            <span class="glyphicon glyphicon-eye-open"></span>  
                        </button>
                         <button class="btn btn-danger actionViewResults" rel="tooltip" data-placement="top" title="add" onclick="location.href='{% url 'addLabResults' pk=result.pk %}'">
                            <span class="glyphicon glyphicon-plus"></span>  
                        </button>
                    </td>
                    <td></td>
            </tr>
           {% endfor %}
            </tbody>
        </table>         
    </div>

{% endif %}
{% endblock %}